In [1]:
# coding: utf8
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
import matplotlib.pyplot as plt
%matplotlib inline 

from subprocess import check_output
print(check_output(["ls", "input"]).decode("utf8"))

YNU.EDU2018-ScenicWord
YNU.EDU2018-ScenicWord_submite_sample.csv
processed

In [10]:
predict = pd.read_csv("textcnn/result/valid_TextCNN_softmax_50_300_80_3.csv", header=None, names=['Id', "Score_pred"])
train = pd.read_csv("input/processed/train_first.csv", index_col=0)
merged = pd.merge(predict, train, how='left', on=['Id'])

In [15]:
predict.shape

(30000, 2)

In [12]:
train.head()

,Id,Discuss,Score,Discuss_processed
0,201e8bf2-77a2-3a98-9fcf-4ce03914e712,好大的一个游乐公园，已经去了2次，但感觉还没有玩够似的！会有第三，第四次的,5,好大 的 一个 游乐 公园 ， 已经 去 了 2 次 ， 但 感觉 还 没有 玩 够 似的 ...
1,f4d51947-eac4-3005-9d3c-2f32d6068a2d,新中国成立也是在这举行，对我们中国人来说有些重要及深刻的意义！,4,新 中国 成立 也 是 在 这 举行 ， 对 我们 中国 人 来说 有些 重要 及 深刻 的...
2,74aa7ae4-03a4-394c-bee0-5702d3a3082a,庐山瀑布非常有名，也有非常多个瀑布，只是最好看的非三叠泉莫属，推荐一去,4,庐山 瀑布 非常 有名 ， 也 有 非常 多 个 瀑布 ， 只是 最 好看 的 非 三 叠 ...
3,099661c2-4360-3c49-a2fe-8c783764f7db,个人觉得颐和园是北京最值的一起的地方，不过相比下门票也是最贵的，比起故宫的雄伟与气势磅礴，颐...,5,个人 觉得 颐和园 是 北京 最 值 的 一起 的 地方 ， 不过 相比 下 门票 也 是 ...
4,97ca672d-e558-3542-ba7b-ee719bba1bab,迪斯尼一日游,5,迪斯尼 一日游

In [14]:
train[train.Id=='9a1caf96-681e-3c11-b588-43ac742d7fd2']

Empty DataFrame
Columns: [Id, Discuss, Score, Discuss_processed]
Index: []